*{margin:0;padding:0;}
body{
	/*background-color: #173d57;*/
	background-image: url(images/body.png);
	font-family:  Arial, Helvetica, sans-serif,"微软雅黑";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.top{
	height:104px;
	background-color: #171a21;
	padding:0 15px;
}
.banxin{
	width:1190px;
	margin:0 auto;
}
.content{
	width:940px;
	height: 104px;
	margin:0 auto;
	position: relative;
	top:0px;
	right:-90px;
}
.logo{
	float:left;
	padding-top:30px;
}
.nav{
	float:left;
	margin-top: 40px;
	margin-left: 20px;
}
.nav .navlist li{
	float:left;
	padding:0 10px;
	font-size: 15px;
}
.nav a{
	color:#b8b6b4;
}
.nav a:hover{
	color:#fff;
}
.shop{
	position: relative;
}
.shop .shopmuse{
	display: none;
	position: absolute;
	top:20px;
	left:5px;
	width: 70px;
	padding:10px 5px;
	background-color: #000;
	line-height: 25px;
	cursor:pointer;
	opacity: 0;
	z-index: -1;
	transition:all .5s;
}
.shop .shopmuse a{
	display: block;
	font-size: 13px;
	padding-left: 8px;
}
.shop:hover .shopmuse{
	display: block;
	opacity: 1;
	z-index: 1;
}
.global{
	float:right;
	margin-top: 10px;
	height:21px;
}	
.global a{
	color:#b8b6b4;
	padding-left:5px;
	font-size: 11px;
}
.global .btn{
	display: inline-block;
	background-image: url(images/green.png);
	background-repeat: no-repeat;
	background-position:0px 0px;
	background-color:#3d9f1a;
	color:#fff;
	border:none;
	padding:2px;
	font-size: 11px;
	border-radius: 2px;
	padding-left: 30px;
	padding-right: 10px;
}
.banner{
	width:1190px;
	margin:0 auto;
}
.wrap{
	width:100%;
	overflow: hidden;
}
.Left{
	float:left;
}
.Left:after{
	content:"";
	display: block;
	clear:both;
}
._img1{
	width:210px;
	height:116px;
	margin-top: 20px;
}
._img1 img{
	width:100%;
}
._list{
	margin-bottom: 10px;
}
._list .title{
	color:#c6d4df;
	font-size: 10px;
}
#now{
	color:#66c0f4;
	font-size: 14px;
	line-height: 25px;
	margin-left: 0px;
}
._list a{
	color:#66c0f4;
	font-size: 14px;
	line-height: 25px;
	margin-left: 8px;
}
._list a:hover{
	color:#c6d4df;
}
._list i{
	display: inline-block;
	width:16px;
	height:16px;
	background-image: url(images/script.png);
	background-repeat: no-repeat;
	position: relative;
	top:3px;
	left:0;
}
.Right{
	float:left;
	margin-top: 40px;
	margin-left: 40px;
}
.Right:after{
	content:"";
	display: block;
	clear:both;
}
.Top{
	height:35px;
	background-color: rgba(62,126,167,0.8);
}
.Top ul{
	float:left;
}
.Top a{
	color:#d9dadd;
}
.Top ul:after{
	content:"";
	display: block;
	clear:both;
}
.Top li{
	font-size: 13px;
	float:left;
	line-height: 35px;
	color:#d9dadd;
	border-right: 1px solid #82807c;
}
.Top li>a{
	padding:15px 35px 15px 20px;
}
.Top li:after{
	content:"";
	display: block;
	clear:both;
}
.Top li:hover{
	background-color: #c7d5e0;
}
.Top li:hover a{
	color:#000;
}
.Top .toplist{
	position: relative;
}
.top_list{
	display: none;
	position: absolute;
	top:35px;
	left:0px;
	width:110px;
	box-shadow: 0 0 12px #000000;
	background-color: #c6d4df;
	opacity:0;
	z-index: -1;
	transition:all .3s;
} 
.Top li:hover .top_list{
	display: block;
	opacity: 1;
	z-index: 99;
}
.top_long{
	width:150px;
}
.top_style{
	margin-left: 15px;
	color:#4f94bc;
}
 .Top .top_list a:hover{
	color:#fff;
	background-color: #212d3d;
}
.top_list a{
	display: block;
	color:#3b3938;
	margin:0 10px;
	line-height:30px;
	padding:0 5px;
}
.top_list .top_border{
	margin:8px 10px;
	border-top: 1px solid #fff;
}
.Top span{
	display: block;
	width:21px;
	height:17px;
	background-image: url(images/down.png);
	background-repeat: no-repeat;
	position: absolute;
	top:10px;
	right:10px;
	background-size: 24px;
}
.ipt{
	float:right;
	border-right: none;
	margin-left: 182px;
	padding-right: 0px;
	position:relative;
}
.ipt i{
	width:25px;
	height:25px;
	position: absolute;
	top:3px;
	right:1px;
}
#search{
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position:99%;
	width:230px;
	height:28px;
	border:1px solid #000;
	background-color: #305d8a;
	padding-left: 8px;
	border-radius:4px;
	outline: none;
	margin-top: 3px;
	font-style: italic;
	z-index: 99;
}
#search:hover{
	border:1px solid #0aa;
}
.foryou p{
	color:#fff;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.first{
	width:940px;
	height:353px;
	box-shadow: 0 0 10px 3px #111;
	position: relative;
}
.main_lbt_1{
	position: relative;
	width:940px;
	height:353px;
	display: none;
}
#shower{
	display: block;
}
.main_lbt_1 .left{
	position: absolute;
	top:0;
	left:0;
	width:616px;
	height:353px;
	overflow: hidden;
	z-index: 1;
}
.main_lbt_1 .left img{
	width:616px;
	height:353px;
}
.main_lbt_1 .left a{
	display: none;
}
.main_lbt_1 .left .show{
	display:block;
}
.left .left_lbt{
	display: block;
	width:616px;
	height:353px;
	background-image: url(images/lbt1.jpg);
	background-repeat: no-repeat;
}
.left .left_2{background-image: url(images/lbt2.jpg);}
.left .left_3{background-image: url(images/lbt3.jpg);}
.left .left_4{background-image: url(images/lbt4.jpg);}
.left .left_5{background-image: url(images/lbt5.jpg);}
.left .left_6{background-image: url(images/lbt6.jpg);}
.left .left_7{background-image: url(images/lbt7.jpg);}
.main_lbt_1 .right{
	position: absolute;
	top:0;
	right:0;
	height:353px;
	padding-left: 616px;
	background-color: #021320;
	cursor: pointer;
}
.Name{
	font-size: 24px;
	padding:5px 10px;
}
.Name a{
	color:#fff;
}
.min_pic img{
	float:left;
	margin:3px 3px;
	width:156px;
	height:69px;
}
.min_pic .min{
	position: relative;
}
.nowbuy a{
	display: inline-block;
	margin-top: 15px;
	color:#fff;
	font-size: 21px;
	padding-left: 15px;
}
.hot{
	display: inline-block;
	border-radius: 3px;
	margin-left: 15px;
	margin-top: 10px;
	background:rgba(255,255,255,.2);
}
.hot a{
	padding:1px 8px;
	color:#fff;
	font-size: 11px; 
}
.bott a{
	display: inline-block;
	margin-left: 10px;
	margin-top: 30px;
	padding-bottom: 21px;
	color:#acdbf5;
	font-size: 11px;
}
.win{
	display: inline-block;
	width:20px;
	height:20px;
	background-image: url(images/win.png);
	background-repeat: no-repeat;
	position: relative;
	top:-40px;
	right:-295px;
}
.win a{
	width:20px;
	height:20px;
	position: absolute;
	top:0;
	left:0;
}
.arrows_prev{
	position: absolute;
	top:35%;
	left:-47px;
	width:45px;
	height: 90px;
	background:rgba(0,0,0,.3); 
	cursor: pointer;
}
.prev_pic{
	width:23px;
	height:36px;
	background-image: url(images/arrows.png);
	background-repeat: no-repeat;
	background-position: 100%;
	cursor: pointer;
	position: absolute;
	top:35%;
	left:15px;
}
.arrows_next{
	position: absolute;
	top:35%;
	right:-47px;
	width:45px;
	height: 90px;
	background:rgba(0,0,0,.3); 
	cursor: pointer;
}
.next_pic{
	width:23px;
	height:36px;
	position: absolute;
	top:35%;
	right:15px;
	background-image: url(images/arrows.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.arrows_prev:hover,.arrows_next:hover{
	background:rgba( 171, 218, 244, 0.3); 
}
.min_lbt{
	position: absolute;
	top:0;
	left:-285px;
	width:260px;
	height:330px;
	background-color: #e3e3e3;
	padding:0 10px;
	font-size: 12px;
	z-index: 99;
	display: none;
}
.min_block{
	display: block;
}
.fast_lbt{
	height:173px;
}
.min_lbt .lbt_pic li{
	display: none;
}
.min_lbt img{
	width:260px;
	height:160px;
	margin-bottom: 10px;
}
.min_lbt .list li{
	float:left;
	font-size: 12px;
}
.days_game{
	margin-top: 20px;
	margin-bottom: 10px;
}
.speak{
	background-color: #999;
	width:100%;
	border-radius: 4px;
}
.speak p{
	padding:0px 10px;
}
.biaoqian p{
	margin-top: 5px;
}
.biaoqian ul{
	padding-top: 5px;
}
.biaoqian li{
	padding:0 3px;
	margin-left: 2px;
	background-color: #666;
	border-radius: 2px;
	color:#fff;
}
.dot{
	position: absolute;
	bottom:-15px;
	right:50%;
}
.dot span{
	float: left;
	display: block;
	width:16px;
	height:8px;
	border-radius: 2px;
	margin-left: 10px;
	background-color: #999;
	cursor: pointer;
}
.dot .focus{
	background-color:#e3e3e3;
}
.main_1{
	margin-top: 80px;
}
.first_1{
	height: 390px;
}
.main_lbt_2{
	overflow: visible;
	height:390px;
}
.foryou .left{
	float:left;
}
.foryou .left .favour{
	/*margin-top: -35px;*/
}
.foryou .right{
	border:1px solid #999;
	height: 18px;
	float:right;
	margin-top: 25px;
    margin-bottom: 10px;
}
.foryou .right p{
	font-size: 12px;
	padding:2px 10px;
	margin:0;
}
.ste{
	float:left;
	position: relative;
}
.adf{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
.hel img{
	display: block;
	width:308px;
	height:143px;
	margin-bottom: 46px;
}
.wit img{
	display: block;
	width:308px;
	height:143px;
	margin-top: 13px;
	margin-bottom: 0px;
}
.ste_bot{
	position: absolute;
	bottom:-35px;
	left:0;
	width:100%;
	background-color: #1e5f99;
}
.ste_bot p{
	color:#fff;
	padding-left: 15px;
	margin-top: 15px;
}
.ste_bot span{
	display: block;
	font-size:12px; 
	color:#acdbf5;
	padding-left: 15px;
	margin-top: 8px;
}
.ste_num{
	height: 34px;
	margin:15px 15px;
}
.ste_num .left{
	float:left;
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	background-color: #4c6b22;
}
.ste_num p{
	color:#a4d007;
	margin-top: 0px;
	padding:0px 5px;
}
.ste_num .right{
	float:left;
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	background-color: rgba(0,0,0,0.6);
}
.ste_num .through{
	text-decoration: line-through;
	color:#7193a6;
	font-size:11px; 
	line-height: 17px;
}
.ste_num .money{
	color:#7193a6;
	font-size:11px; 
	line-height: 17px;
}
#hel_time{
	display: block;
	height:15px;
	color:#c4e4f2;
	font-size: 10px;
	background-color: #4f95bd
}
.hel_bot{
	position: absolute;
	bottom:0px;
	left:0;
	width:100%;
	background-color: #1e5f99;
}
.hel_bot .hel_left{
	float:left;
	margin:5px 15px;
}
.hel_bot .ste_num{
	float:right;
	margin:5px 15px;
}
.hel_bot p{
	color:#fff;
	font-size: 11px;
	padding-bottom:5px;
}
.hel_num p{
	font-size: 24px;
	color:#a4d007;
	margin-top: 0;
	padding:0 10px;
}
.wit_bot{
	position: absolute;
	bottom:-44px;
	left:0px;
}
.ste_2{
	margin-left: 9px;
}
#shower_1{
	display: block;
}
.main_lbt_2{
	display: none;
}
.main_2{
	margin-top: 50px;
	height:125px;
}
.main_2 p{
	color:#fff;
}
.main_2 li{
	float:left;
	background-color: #1e5f99;
	border-radius: 6px;
	margin-left: 12px;
	line-height: 56px;
	text-align: center;
}
.main_2 a{
	display: block;
	width:226px;
	height:58px;
	color:#66c0f4;
}
.main_2 .no_marginleft{
	margin-left: 0;
}
.main_3{
	margin-top: 50px;	
	margin-bottom: 20px;
}
.main_lbt_3{
	width:940px;
	height:390px;
	border-radius: 6px;
	box-shadow: 0 0 10px #000;
	display: none;
}
#shower_2{
	display: block;
}
.first_2{
	height:390px;
}
.main_3_top{
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
}
.foryou span{
	font-weight: bold;
}
.main_3_top .left{
	float:left;
}
.main_3_top img{
	width:70px;
	height:70px;
}
.main_3_top .more p{
	font-size: 20px;
	color:#999;
	padding-left: 80px;
}
.main_3_top .more span{
	color:#fff;
}
.main_3_top .follow{
	margin-left: 80px;
	margin-top: 5px;
	height:35px;
	width:fit-content;
	background-color: rgba(0,0,0,0.2);
}
.main_3_top .follow .left{
	float:left;
}
.main_3_top .follow span{
	display: block;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	width:60px;
	height:30px;
	border-radius: 4px;
	background-color:#799905;
	color:#D2E885;
}
.main_3_top .follow .right{
	float:left;
	color:#999;
	font-size: 14px;
	padding-right: 20px;
}
.main_passage{
	padding:0 10px;
}
.main_passage img{
	width:100%;
}
.main_passage li{
	float:left;
	width:225px;
	margin-left: 5px;
}
.main_passage span{
	display: block;
	font-size: 13px;
	color:#66c0f4;
	margin-bottom: 5px;
}
.main_passage p{
	display: block;
	font-size: 12px;
	color:#c6d4df;
	line-height: 18px;
}
.main_4{
	margin-top: 50px;
	position: relative;
}
.main_4 .chose{
	width:100%;
	height:40px;
	line-height: 40px;
}
.main_4 li{
	border-radius: 4px;
	float:left;
}
.main_4 li:hover a{
	color:#fff;
}
.main_4 .chose a{
	padding:5px 10px;
	color:#4f94bc;
	font-size: 14px;
}
.chose_this{
	background-color: #2a475e;
}
.chose_list{
	width:618px;
	height:70px;
	margin-bottom: 6px;
	background-color: #202d39;
}
._list_item{
	display: block;
	position: relative;
	height:75px;	
}
.chose_this a{
	color:#fff;
}
.chose_list .left{
	float:left;
	height:69px;
}
.chose_list .right{
	display: inline;
	float:left;
	margin-left: 20px;
}
.chose_list h4{
	margin:5px 0;
	color:#10161b;
}
.chose_list p{
	color:#7193a6;
	font-size: 12px;
}
.chose_list .this_p{
	color:#263245;
}
.chose_list span{
	display: block;
	width:20px;
	height:20px;
	margin-bottom: 5px;
	background-image: url(images/win.png);
}
.chose_list .h4_focus{
	color:#10161b;
}
.chose_focus{
	background-color: #c6d4df;
}
.chose_list .ste_num{
	position: absolute;
	top:10px;
	right:5px;
}
.chose_list .ste_num .left p{
	color:#a4d007;
}
.chose_list .ste_num .left{
	height:16px;
	line-height: 18px;
	margin-right: 20px;
}
.chose_list .ste_num .right{
	background-color: #202d39;	
	position: relative;
	top:-5px;
	left:0;
}
.chose_list ._price{
	position: absolute;
	top:30px;
	right:30px;
}
.details_color{
	position: absolute;
	top:40px;
	right:0;
	width:305px;
	height:753px;
	background-color: #c6d4df;
}
.details_1{
	position: absolute;
	top:0px;
	right:0;
	display: none;
}
.chose_show{
	display: block;
}
.user{
	width:285px;
	background-color: rgba( 38, 54, 69, 0.6);
	border-radius:6px;
	margin:0 10px;
	margin-bottom: 10px;
}
h2{
	color:#263645;
	margin-top: 10px;
	margin-left: 10px;
}
.user p{
	color:#c7d5e0;
	font-size: 12px;
	padding-left: 8px;
}
.user p span{
	color:#66C0F4;
}
.details_1 ul{
	height:18px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.details_1 li{
	float:left;
	margin-left: 5px;
	background-color: rgba( 38, 54, 69, 0.6);
}
.details_1 a{
	padding:0px 5px;
	font-size: 12px;
	color:#fff;
}
.details_1 li:hover a{
	color:#66C0F4;
}
.show_pic img{
	display: block;
	width:258px;
	height:150px;
	margin-top: 2px;
	padding:5px 5px 5px 20px;
}
.main_5{
	width:940px;
	height:208px;
	margin-top: 50px;
}
.first_3{
	height:135px;
}
.foryou{
	height:60px;
}
.foryou .main_5_right{
	margin-top: 25px;
	margin-left: 5px;
}
.main_lbt_4{
	height:135px;
	display: none;
}
#shower_3{
	display: block;
}
.main_5_1{
	width:230px;
	height:107px;
	margin-right: 6px;
	float: left;
	position: relative;
}
.main_lbt_4 a{
	display: inline-block;
	width:230px;
	height:107px;
}
.main_lbt_4 img{
	width:100%;
	height:107px;
}
.main_lbt_4 .no_right{
	margin-left: 1px;
	margin-right: 0;
}
.fourth_prev{
	top:10%;
}
.fourth_next{
	top:10%;
}
.main_5_bot{
	height:28px;
	line-height: 28px;
	bottom:-28px;
}
.main_5_num{
	height:18px;
}
.main_5_bot .main_5_num{
	margin:5px 0;
}
.main_5_bot p{
	font-size: 11px;
	line-height: 18px;
	padding:0 5px;
}
.main_5_bot .through{
	float:left;
}
.main_5_bot .money{
	float:right;
}
.main_6{
	width:940px;
	height:406px;
	margin-top: 50px;
	position: relative;
}
.main_6_1{
	width:368px;
	height:398px;
	position: relative;
}
.main_6_2{
	width:173px;
	height:182px;
	position: relative;
	margin-left: 10px;
	float:left;
	margin-bottom: 33px;
}
.main_6_bot{
	bottom: -20px;
}
.main_6_passages .right{
	position: absolute;
	top:60px;
	right:0;
	padding-left: 368px;
}
.main_6_passages .left{
	width:368px;
	height: 398px;
	cursor: pointer;
}
.main_6_passages .left img{
	width:100%;
	height:398px;
}
.main_6_passages .right img{
	width:100%;
	height:182px;
}
.find{
	margin-top: 3400px;
	background-color: #000;
	width:100%;
	height:200px;
	position: relative;
}
.find .left{
	float:left;
	padding-right:940px; 
}
.find .right{
	position: absolute;
	top:0;
	right:80px;
	float:left;
	width:940px;
}
.find .border{
	position: relative;
}
.border p{
	color:#999;
	background-color: #000;
	padding:0 5px;
	position: absolute;
	left:40%;
}
.now_find{
	top:-10px;
	font-size:22px;
}
.now_see{
	top:40px;
	font-size: 16px;
}
.find button{
	position: absolute;
	top:80px;
	left:45%;
	width:60px;
	height:30px;
	background-color: green;
	color:#fff;
	border:none;
	cursor: pointer;
}
.now_or{
	top:120px;
	margin-left: -20px;
}
.now_or a{
	color:#fff;
}
.now_or span{
	color:#fff;
	font-size: 18px;
}
.find .top_border{
	display: block;
	margin:50px 0 0 0;
	border-top: 1px solid #dd4012;
}
.copyright{
	width:100%;
	height:130px;
}
.copyright .left{
	width:210px;
	float:left;
}
.logoleft{
	display: block;
	width:92px;
	height:26px;
	background-image: url(images/logoleft.png);
	background-repeat: no-repeat;
	position: relative;
	top:30px;
	left:0;
}
.copyright .right{
	width:940px;
	float:right;
}
.copyright .copy{
	width:650px;
}
.copyright .copy p{
	color:#666;
	font-size: 11px;
	margin-left: 100px;
}
.copy_l{
	margin-bottom: 40px;
}
.copy_l li{
	float:left;
	color:#fff;
	margin-left: 10px;
}
.copy_l p{
	color:#666;
}
.copy_l a{
	color:#fff;
	font-size: 11px;
}
.about li{
	float:left;
	margin-right: 10px;	
}
.about a{
	color:#fff;
	font-size: 14px;
}
.about img{
	position: relative;
	top:2px;
	left:0;
}
.copy_r img{
	position: relative;
	top:-20px;
	right:-150px;
}